<div class="px-[50px] pb-[30px] bg-[#fafafc]">
    <div class="flex">
        <!-- Info customer -->
        <div class="w-3/5 p-[20px] relative">
            <!-- Info -->
            <div class="sticky top-[94px]">
                <div>
                    <div>
                        <div class="my-[20px] text-xl font-semibold">
                            Thông tin vận chuyển
                        </div>
                    </div>
                    <div
                        class="p-[30px] bg-white shadow-[0_6px_12px_0_#0000000a]"
                    >
                        <div class="py-[15px] relative">
                            <label
                                for=""
                                class="text-[13px] font-medium whitespace-nowrap mr-3 absolute top-0 bg-white"
                                >Họ tên</label
                            >
                            <input
                                ng-model="name"
                                type="text"
                                placeholder="Họ tên"
                                class="h-[40px] w-full border border-[rgb(0 0 0 / 10%)] px-3 pt-1 focus:outline-none focus:border-black text-sm"
                            />
                        </div>
                        <div class="py-[15px] relative">
                            <label
                                for=""
                                class="text-[13px] font-medium whitespace-nowrap mr-3 absolute top-0 bg-white"
                                >Số điện thoại</label
                            >
                            <input
                                ng-model="phone"
                                type="text"
                                placeholder="Số điện thoại"
                                class="h-[40px] w-full border border-[rgb(0 0 0 / 10%)] px-3 pt-1 focus:outline-none focus:border-black text-sm"
                            />
                        </div>
                        <div class="py-[15px] relative">
                            <label
                                for=""
                                class="text-[13px] font-medium whitespace-nowrap mr-3 absolute top-0 bg-white"
                                >Địa chỉ chi tiết</label
                            >
                            <input
                                ng-model="address"
                                type="text"
                                placeholder="Địa chỉ chi tiết"
                                class="h-[40px] w-full border border-[rgb(0 0 0 / 10%)] px-3 pt-1 focus:outline-none focus:border-black text-sm"
                            />
                        </div>
                        <div class="py-[15px] relative">
                            <label
                                for=""
                                class="text-[13px] font-medium whitespace-nowrap mr-3 absolute top-0 bg-white"
                                >Ghi chú</label
                            >
                            <input
                                ng-model="note"
                                type="text"
                                placeholder="Ghi chú"
                                class="h-[40px] w-full border border-[rgb(0 0 0 / 10%)] px-3 pt-1 focus:outline-none focus:border-black text-sm"
                            />
                        </div>
                    </div>
                </div>

                <!-- Payment -->
                <div>
                    <div>
                        <div class="mb-[20px] mt-[40px] text-xl font-semibold">
                            Hình thức thanh toán
                        </div>
                    </div>
                    <div
                        class="p-[30px] bg-white shadow-[0_6px_12px_0_#0000000a]"
                    >
                        <label
                            for="payment-cod"
                            class="flex items-center px-[20px] py-[15px] border border-black rounded-2xl"
                        >
                            <div
                                class="w-[20px] h-[20px] rounded-full border border-black relative"
                            >
                                <input
                                    type="radio"
                                    id="payment-cod"
                                    name="payment-method"
                                    class="hidden peer"
                                    checked
                                />
                                <span
                                    class="w-[12px] h-[12px] rounded-full bg-black absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 hidden peer-checked:block"
                                ></span>
                            </div>
                            <div class="mx-[15px]">
                                <img
                                    ng-src="/image/product/COD.svg"
                                    alt="Image"
                                />
                            </div>
                            <div class="text-[13px] font-medium">
                                COD <br />
                                Thanh toán khi nhận hàng
                            </div>
                        </label>

                        <div class="mt-[30px] relative">
                            <button
                                ng-click="checkout()"
                                class="h-[54px] w-full text-[18px] px-[30px] font-extrabold border border-black text-black bg-white hover:bg-[rgba(34,34,34,.8)] hover:text-white"
                            >
                                THANH TOÁN {{ total_price | number: 0 }}₫ (COD)
                            </button>
                            <div
                                ng-if="isPaying"
                                class="absolute top-0 left-0 bottom-0 right-0 flex justify-center items-center bg-[#f0f0f0cc]"
                            >
                                <i
                                    class="bx bx-loader-circle bx-spin bx-rotate-90 text-2xl"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart details -->
        <div class="w-2/5 p-[20px]">
            <div>
                <div class="my-[20px] text-xl font-semibold">Giỏ hàng</div>
            </div>
            <div class="p-[30px] bg-white shadow-[0_6px_12px_0_#0000000a]">
                <div ng-if="!cart || cart.length == 0">
                    <img
                        class="w-[64px] h-[64px] m-auto"
                        src="/image/product/cart-empty.png"
                        alt="Giỏ hàng rỗng"
                    />
                    <span class="m-[20px] text-[#666] text-center block text-xs"
                        >Giỏ hàng rỗng</span
                    >
                </div>
                <!-- Items -->
                <div
                    ng-repeat="product in cart track by product.cart_id"
                    class="flex mb-3"
                >
                    <div class="w-[126px] h-[168px] relative group">
                        <img
                            ng-src="/image/product/{{
                            product.picked.color.product_image1
                        }}"
                            alt="{{ product.product_name }}"
                            class="w-full h-full object-cover"
                        />
                        <img
                            ng-src="/image/product/{{
                            product.picked.color.product_image2 || product.picked.color.product_image3 || product.picked.color.product_image4 || product.picked.color.product_image5
                        }}"
                            alt="{{ product.product_name }}"
                            class="absolute top-0 left-0 w-full opacity-0 group-hover:opacity-100 transition-all duration-500"
                        />
                        <div
                            ng-click="removeProductFromCart(product.cart_id)"
                            class="absolute bottom-0 h-[30px] hidden justify-center items-center w-full bg-[#00000080] group-hover:flex cursor-pointer"
                        >
                            <button>
                                <i class="bx bx-trash text-xl text-white"></i>
                            </button>
                        </div>
                        <div
                            ng-if="product.product_discount != 0"
                            class="absolute top-[6px] left-0 w-[40px] text-center text-xs leading-[20px] bg-[#222] text-white"
                        >
                            -{{ product.product_discount }}%
                        </div>
                    </div>
                    <div class="ml-[20px] flex-1">
                        <a
                            href="/details?product_id={{ product.product_id}}"
                            class="hover:underline"
                        >
                            <span class="text-sm mb-[5px]"
                                >{{ product.product_name }}</span
                            >
                        </a>
                        <div class="flex pt-[15px] -mx-[10px]">
                            <select
                                ng-change="changeColorInCart(product, product.picked.color, '{{
                                product.picked.color
                            }}'); editCart(product)"
                                ng-model="product.picked.color"
                                ng-options="color.color_name for color in product.colors"
                                class="mx-[10px] border border-solid border-transparent text-[#222] font-bold bg-stone-200 rounded-[18px] focus:border-black focus:outline-none text-sm px-3 py-1"
                            ></select>
                            <select
                                ng-model="product.picked.size"
                                ng-change="editCart(product)"
                                ng-options="size.size_name for size in product.picked.color.sizes"
                                class="mx-[10px] border border-solid border-transparent text-[#222] font-bold bg-stone-200 rounded-[18px] focus:border-black focus:outline-none text-sm px-3 py-1"
                            ></select>
                        </div>
                        <div
                            class="pt-[15px] flex justify-between items-center"
                        >
                            <div class="flex mt-[5px] h-[30px] items-center">
                                <button
                                    ng-click="decreaseInCart(product)"
                                    class="w-[25px] h-[28px] border border-gray-300 flex items-center justify-center rounded-tl-[100px] rounded-bl-[100px] text-gray-300 cursor-default"
                                >
                                    <i class="bx bx-minus"></i>
                                </button>
                                <input
                                    ng-model="product.picked.quantity"
                                    type="text"
                                    value="1"
                                    class="text-[13px] w-[34px] h-[28px] border-t border-b border-gray-300 focus:border focus:border-black focus:outline-none text-center"
                                />
                                <button
                                    ng-click="increaseInCart(product)"
                                    class="w-[25px] h-[28px] border border-gray-300 focus:border-black flex items-center justify-center rounded-tr-[100px] rounded-br-[100px]"
                                >
                                    <i class="bx bx-plus"></i>
                                </button>
                            </div>
                            <div class="flex flex-col">
                                <span
                                    ng-if="product.product_discount == 0"
                                    class="text-black font-bold text-sm"
                                >
                                    {{ product.picked.color .product_price *
                                    product.picked.quantity | number: 0 }}₫
                                </span>
                            </div>
                            <div
                                ng-if="product.product_discount != 0"
                                class="flex flex-col text-sm"
                            >
                                <span class="text-black font-bold">
                                    {{ (product.picked.color .product_price -
                                    (product.picked.color .product_price *
                                    product.product_discount) / 100) *
                                    product.picked.quantity | number: 0 }}₫
                                </span>
                                <del class="text-[#999] text-xs">
                                    {{ product.picked.color .product_price *
                                    product.picked.quantity | number: 0 }}₫
                                </del>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Discount -->
                <div class="my-[25px] h-[40px] relative">
                    <input
                        type="text"
                        placeholder="Mã giảm giá"
                        class="h-full w-full border border-[rgb(0 0 0 / 10%)] pl-3 pr-14 focus:outline-none focus:border-black text-sm"
                    />
                    <button
                        class="absolute top-0 right-0 h-[40px] font-extrabold text-[13px] px-[30px] flex justify-center items-center text-white bg-black hover:bg-[rgba(34,34,34,.8)]"
                    >
                        Áp dụng
                    </button>
                </div>

                <!-- Total -->
                <div
                    class="py-[15px] border-t border-b border-dashed border-[#e5e5e5]"
                >
                    <div class="flex justify-between text-sm mb-[15px]">
                        <p>Tạm tính</p>
                        <p>{{ total_price | number: 0 }}₫</p>
                    </div>
                    <div class="flex justify-between text-sm mb-[15px]">
                        <p>Giảm giá</p>
                        <p>0đ</p>
                    </div>
                    <div class="flex justify-between text-sm">
                        <p>Phí giao hàng</p>
                        <p>Miễn phí</p>
                    </div>
                </div>
                <div class="my-[20px]">
                    <div class="flex justify-between text-sm mb-[15px]">
                        <p>Tổng cộng</p>
                        <p class="text-2xl font-bold text-black">
                            {{ total_price | number: 0 }}₫
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
