<div class="pb-[85px]">
    <div class="m-auto w-[1280px]">
        <div class="px-[40px]">
            <!-- Bread crumb -->
            <div class="text-xs whitespace-nowrap">
                <div class="py-4">
                    <div class="inline-block">
                        <a
                            href="/"
                            class="text-[#999] hover:underline hover:text-black"
                            >Trang chủ</a
                        >
                    </div>
                    <div
                        class="inline-block before:content-['/'] before:px-2 before:text-[#999]"
                    >
                        <a
                            href="/product"
                            class="text-[#999] hover:underline hover:text-black"
                            >Quần áo nữ</a
                        >
                    </div>
                    <div
                        class="inline-block before:content-['/'] before:px-2 before:text-[#999]"
                    >
                        <a
                            href="/product?category_id={{ product.subcategory.category.category_id }}"
                            class="text-[#999] hover:underline hover:text-black"
                            >{{ product.subcategory.category.category_name }}</a
                        >
                    </div>
                    <div
                        class="inline-block before:content-['/'] before:px-2 before:text-[#999]"
                    >
                        <a
                            href="/product?category_id={{ product.subcategory.category.category_id }}&subcategory_id={{ subcategory.subcategory.category_id }}"
                            class="text-[#999] hover:underline hover:text-black"
                            >{{ product.subcategory.subcategory_name }}</a
                        >
                    </div>
                    <div
                        class="inline-block before:content-['/'] before:px-2 before:text-[#999]"
                    >
                        <a href="#" class="text-black"
                            >{{ product.product_name }}</a
                        >
                    </div>
                </div>
            </div>

            <!-- Product details -->
            <div class="flex">
                <!-- Image -->
                <div class="w-[730px]">
                    <div class="w-full relative group">
                        <div
                            class="flex -mx-1 overflow-hidden image-slider"
                            slick-slider
                        >
                            <div
                                class="w-2/4 px-1 flex-shrink-0"
                                ng-class="{'skeleton h-[480px]': isLoading}"
                            >
                                <img
                                    ng-src="/image/product/{{ product.picked.color.product_image1 }}"
                                    alt="{{ p.product_name }}"
                                    class="w-full"
                                />
                            </div>
                            <div
                                class="w-2/4 px-1 flex-shrink-0"
                                ng-class="{'skeleton h-[480px]': isLoading}"
                            >
                                <img
                                    ng-src="/image/product/{{ product.picked.color.product_image2 }}"
                                    alt="{{ p.product_name }}"
                                    class="w-full"
                                />
                            </div>
                            <div
                                ng-if="product.picked.color.product_image3"
                                class="w-2/4 px-1 flex-shrink-0"
                            >
                                <img
                                    ng-src="/image/product/{{ product.picked.color.product_image3 }}"
                                    alt="{{ p.product_name }}"
                                    class="w-full"
                                />
                            </div>
                            <div
                                ng-if="product.picked.color.product_image4"
                                class="w-2/4 px-1 flex-shrink-0"
                            >
                                <img
                                    ng-src="/image/product/{{ product.picked.color.product_image4 }}"
                                    alt="{{ p.product_name }}"
                                    class="w-full"
                                />
                            </div>
                            <div
                                ng-if="product.picked.color.product_image5"
                                class="w-2/4 px-1 flex-shrink-0"
                            >
                                <img
                                    ng-src="/image/product/{{ product.picked.color.product_image5 }}"
                                    alt="{{ p.product_name }}"
                                    class="w-full"
                                />
                            </div>
                        </div>
                        <!-- <button
                            class="absolute left-[15px] top-2/4 -translate-y-2/4 bg-[#f3f4f1] text-3xl rounded-full w-10 h-10 justify-center items-center hidden group-hover:flex hover:bg-white"
                        >
                            <i class="bx bx-chevron-left"></i>
                        </button>
                        <button
                            class="absolute right-[15px] top-2/4 -translate-y-2/4 bg-[#f3f4f1] text-3xl rounded-full w-10 h-10 justify-center items-center hidden group-hover:flex hover:bg-white"
                        >
                            <i class="bx bx-chevron-right"></i>
                        </button> -->
                    </div>

                    <div class="w-full mt-2 flex justify-center">
                        <div
                            ng-class="{'skeleton': isLoading}"
                            class="px-[2px] w-[68px] h-[90px] cursor-pointer"
                        >
                            <img
                                ng-src="/image/product/{{ product.picked.color.product_image1 }}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                        </div>
                        <div
                            ng-if="isLoading || product.picked.color.product_image2"
                            ng-class="{'skeleton': isLoading}"
                            class="px-[2px] w-[68px] h-[90px] cursor-pointer"
                        >
                            <img
                                ng-src="/image/product/{{ product.picked.color.product_image2 }}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                        </div>
                        <div
                            ng-if="isLoading || product.picked.color.product_image3"
                            ng-class="{'skeleton': isLoading}"
                            class="px-[2px] w-[68px] h-[90px] cursor-pointer"
                        >
                            <img
                                ng-src="/image/product/{{ product.picked.color.product_image3 }}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                        </div>
                        <div
                            ng-if="isLoading || product.picked.color.product_image4"
                            ng-class="{'skeleton': isLoading}"
                            class="px-[2px] w-[68px] h-[90px] cursor-pointer"
                        >
                            <img
                                ng-src="/image/product/{{ product.picked.color.product_image4 }}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                        </div>
                        <div
                            ng-if="isLoading || product.picked.color.product_image5"
                            ng-class="{'skeleton': isLoading}"
                            class="px-[2px] w-[68px] h-[90px] cursor-pointer"
                        >
                            <img
                                ng-src="/image/product/{{ product.picked.color.product_image5 }}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                        </div>
                    </div>
                </div>

                <!-- Info -->
                <div class="ml-[50px] w-[420px]">
                    <!-- Name/Price -->
                    <div class="mb-[25px]">
                        <h1
                            ng-class="{'skeleton h-[24px] w-full': isLoading}"
                            class="text-sm mb-[5px]"
                        >
                            {{ product.product_name }}
                        </h1>
                        <div
                            ng-class="{'skeleton h-[32px] w-3/4': isLoading}"
                            class="flex items-center"
                        >
                            <!-- Normal -->
                            <span
                                ng-if="product.product_discount == 0"
                                class="font-bold text-2xl text-black"
                            >
                                {{product.picked.color.product_price |
                                number:0}}₫
                            </span>

                            <!-- Discount -->
                            <span
                                ng-if="product.product_discount != 0 && !isLoading"
                                class="text-[#fa6338] text-2xl block font-bold mr-2"
                            >
                                {{product.picked.color.product_price -
                                product.picked.color.product_price *
                                product.product_discount / 100 | number:0}}₫
                            </span>
                            <del
                                ng-if="product.product_discount != 0 && !isLoading"
                                class="text-[#999] text-sm"
                            >
                                {{product.picked.color.product_price |
                                number:0}}₫
                            </del>
                            <div
                                ng-if="product.product_discount != 0"
                                class="w-[50px] text-center text-xs leading-[20px] bg-[#222] text-white ml-3"
                            >
                                -{{ product.product_discount }}%
                            </div>
                        </div>
                    </div>

                    <!-- Color -->
                    <div
                        class="pt-[10px] border-t border-dashed border-[#e5e5e5]"
                    >
                        <div class="mt-[15px]">
                            <div class="text-xs font-normal">
                                Màu sắc:
                                <span
                                    class="pl-[8px] font-bold text-[#222] text-sm"
                                    >{{product.picked.color.color_name}}</span
                                >
                            </div>
                            <div class="pt-[15px] flex flex-wrap -mx-1">
                                <div
                                    ng-repeat="x in [].constructor(5) track by $index"
                                    ng-if="isLoading"
                                    class="relative w-[50px] h-[66px] mx-1 cursor-pointer skeleton"
                                ></div>

                                <div
                                    ng-repeat="cl in product.colors"
                                    ng-class="{'before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:border before:border-[#222] before:shadow-[inset_0_0_0_2px_#fff]' : product.picked.color.color_id == cl.color_id}"
                                    ng-click="changeColor(product, cl)"
                                    title="{{ cl.color_name }}"
                                    class="relative w-[50px] h-[66px] mx-1 cursor-pointer"
                                >
                                    <img
                                        ng-src="/image/product/{{ cl.product_image1 }}"
                                        alt="Image"
                                        class="w-full h-full object-cover"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Size -->
                    <div>
                        <div class="mt-[15px]">
                            <div class="text-xs font-normal flex items-center">
                                <span>Kích thước:</span>
                                <span
                                    class="px-[8px] font-bold text-[#222] text-sm"
                                    >{{product.picked.size.size_name}}</span
                                >
                                <span ng-if="product.picked.size">(Còn {{ product.picked.size.quantity | number:0 }} sản phẩm)</span>
                                <span ng-if="product.picked.size && product.picked.size.quantity == 0">(Đã hết sản phẩm)</span>
                            </div>
                            <div class="mt-[15px] -mx-1 flex flex-wrap">
                                <div
                                    ng-repeat="x in [].constructor(5) track by $index"
                                    ng-if="isLoading"
                                    class="flex justify-center items-center w-[64px] h-[40px] m-1 text-sm font-bold rounded-2xl cursor-pointer transition-all skeleton"
                                ></div>

                                <div
                                    ng-repeat="s in product.picked.color.sizes"
                                    title="Còn {{ s.quantity }} sản phẩm"
                                    ng-click="changeSize(product, s)"
                                    ng-class="{ 'bg-black text-white' : product.picked.size.size_id == s.size_id, 'bg-stone-200' : product.picked.size.size_id != s.size_id}"
                                    class="flex justify-center items-center w-[64px] h-[40px] m-1 text-sm font-bold rounded-2xl cursor-pointer transition-all"
                                >
                                    {{ s.size_name }}
                                </div>
                            </div>
                        </div>
                        <div ng-if="!product.picked.size && show_warning.size" class="text-xs font-normal text-red-500">
                            Vui lòng chọn size
                        </div>
                    </div>

                    <!-- Quantity -->
                    <div>
                        <div class="mt-[15px]">
                            <div class="font-normal text-xs">Số lượng:</div>
                            <div class="flex mt-[15px] h-[30px] items-center">
                                <button
                                    ng-click="decrease()"
                                    class="w-[30px] h-[35px] border border-gray-300 flex items-center justify-center rounded-tl-[100px] rounded-bl-[100px] focus:border-black"
                                >
                                    <i class="bx bx-minus"></i>
                                </button>
                                <input
                                    ng-model="product.picked.quantity"
                                    type="text"
                                    class="text-sm w-[48px] h-[35px] border-t border-b border-gray-300 focus:border focus:border-black focus:outline-none text-center"
                                />
                                <button
                                    ng-click="increase()"
                                    class="w-[30px] h-[35px] border border-gray-300 flex items-center justify-center rounded-tr-[100px] rounded-br-[100px] focus:border-black"
                                >
                                    <i class="bx bx-plus"></i>
                                </button>
                            </div>
                        </div>
                        <span ng-if="product.picked.quantity == product.picked.size.quantity" class="text-xs font-normal text-red-500">
                            Số lượng bạn chọn đã đạt mức tối đa của sản phẩm này
                        </span>
                    </div>

                    <div class="mt-[25px]">
                        <button
                            ng-click="addToCartInDetailsPage(product)"
                            class="h-[54px] text-[18px] px-[30px] font-extrabold border border-black text-black bg-white hover:bg-[rgba(34,34,34,.8)] hover:text-white"
                        >
                            THÊM VÀO GIỎ HÀNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-[50px]">
        <!-- You may also like -->
        <div class="pb-[30px] pt-[100px] px-[10px]">
            <span
                class="font-semibold text-2xl text-black"
            >
                Có Thể Bạn Cũng Thích
            </span>
        </div>
        <div class="w-full relative">
            <div class="w-full flex image-slider2" slick-slider2>
                <!-- Normal -->
                <div
                    ng-repeat="x in [].constructor(5) track by $index"
                    ng-if="isLoadingSub"
                    class="card w-1/5 px-[10px] flex-shrink-0"
                >
                    <div class="cover skeleton w-full pb-[132%]"></div>
                    <div class="min-h-[116px]">
                        <p class="mt-2 h-4 w-4/5 skeleton"></p>
                        <p class="mt-[6px] w-3/4 h-5 skeleton"></p>
                        <div class="flex mt-[6px]">
                            <p
                                class="w-[25px] h-[25px] mr-2 rounded-full skeleton"
                            ></p>
                            <p
                                class="w-[25px] h-[25px] mr-2 rounded-full skeleton"
                            ></p>
                            <p
                                class="w-[25px] h-[25px] mr-2 rounded-full skeleton"
                            ></p>
                            <p
                                class="w-[25px] h-[25px] mr-2 rounded-full skeleton"
                            ></p>
                            <p
                                class="w-[25px] h-[25px] mr-2 rounded-full skeleton"
                            ></p>
                        </div>
                    </div>
                </div>

                <div
                    ng-repeat="p in products"
                    ng-if="!isLoadingSub"
                    class="w-1/5 px-[10px] flex-shrink-0"
                >
                    <div
                        class="w-full pb-[132%] h-0 relative overflow-hidden bg-[#f7f7f7] group"
                    >
                        <a
                            href="/details?product_id={{ p.product_id }}"
                            class="w-full inline-block"
                        >
                            <img
                                ng-src="/image/product/{{p.picked.color.product_image1}}"
                                alt="{{ p.product_name }}"
                                class="w-full"
                            />
                            <img
                                ng-src="/image/product/{{p.picked.color.product_image2 || p.picked.color.product_image3 || p.picked.color.product_image4 || p.picked.color.product_image5}}"
                                alt="{{ p.product_name }}"
                                class="w-full absolute top-0 left-0 opacity-0 group-hover:opacity-100 transition-all duration-500"
                            />
                        </a>
                        <div
                            class="absolute bottom-0 left-0 right-0 px-[15px] py-[15px] transition-all group-hover:flex flex-wrap hidden"
                        >
                            <div
                                ng-repeat="s in p.picked.color.sizes"
                                ng-click="addToCartInProductPage(p, s)"
                                title="Còn {{ s.quantity }} sản phẩm"
                                class="flex justify-center items-center w-[48px] h-[43px] m-1 text-sm font-bold rounded-2xl bg-white cursor-pointer transition-all hover:bg-black hover:text-white"
                            >
                                {{ s.size_name }}
                            </div>
                        </div>
                        <!-- IF Discount -->
                        <div
                            ng-if="p.product_discount != 0"
                            class="absolute top-[6px] left-0 w-[50px] text-center text-xs leading-[20px] bg-[#222] text-white"
                        >
                            -{{ p.product_discount }}%
                        </div>
                    </div>
                    <div class="min-h-[116px]">
                        <div class="mt-2 text-xs">
                            <a
                                href="/details?product_id={{ p.product_id }}"
                                class="block w-full text-[#767676] overflow-hidden whitespace-nowrap text-ellipsis hover:text-black hover:underline"
                            >
                                {{ p.product_name }}
                            </a>
                        </div>
                        <div class="mt-[6px] flex items-center">
                            <span
                                ng-if="p.product_discount == 0"
                                class="text-black text-sm block font-bold"
                            >
                                {{p.picked.color.product_price | number:0}}₫
                            </span>
                            <!-- IF Discount -->
                            <span
                                ng-if="p.product_discount != 0"
                                class="text-[#fa6338] text-sm block font-bold mr-1"
                            >
                                {{p.picked.color.product_price -
                                p.picked.color.product_price *
                                p.product_discount / 100 | number:0}}₫
                            </span>
                            <del
                                ng-if="p.product_discount != 0"
                                class="text-[#999] text-xs"
                            >
                                {{p.picked.color.product_price | number:0}}₫
                            </del>
                        </div>
                        <div ng-if="p.colors.length > 1" class="mt-[6px] flex">
                            <div
                                ng-repeat="cl in p.colors"
                                ng-class="{'border-black p-[2px]' : p.picked.color.color_id == cl.color_id}"
                                ng-mouseenter="changeColor(p, cl)"
                                title="{{ cl.color_name }}"
                                class="w-[25px] h-[25px] rounded-full border mr-2 cursor-pointer"
                            >
                                <img
                                    ng-src="/image/product/{{ cl.product_image1 }}"
                                    alt="{{ cl.color_name }}"
                                    class="w-full h-full object-cover rounded-full"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <button
                    class="absolute left-[15px] top-[40%] -translate-y-2/4 bg-[#f3f4f1] text-3xl rounded-full w-10 h-10 justify-center items-center flex hover:bg-white"
                >
                    <i class="bx bx-chevron-left"></i>
                </button>
                <button
                    class="absolute right-[15px] top-[40%] -translate-y-2/4 bg-[#f3f4f1] text-3xl rounded-full w-10 h-10 justify-center items-center flex hover:bg-white"
                >
                    <i class="bx bx-chevron-right"></i>
                </button> -->
            </div>
        </div>
    </div>
</div>
