/* add to img on load event */
.animate {
    animation: animate 1s ease;
}
@keyframes animate {
    from {
        transform: rotateX(20deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

/* skeleton elements */
.skeleton {
    background: linear-gradient(
        90deg,
        hsl(210, 15%, 88%),
        hsl(210, 15%, 95%),
        hsl(210, 15%, 88%)
    );
    background-size: 200%;
    animation: loader 1s infinite reverse;
}

/* skeleton animation */
@keyframes loader {
    from {
        background-position: -100% 0;
    }
    to {
        background-position: 100% 0;
    }
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: black;
}

/*Toast / Snackbar*/
#snackbar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 16px;
    bottom: -60px;
    font-size: 1.0rem;
    opacity: 0;
}

#snackbar.show {
    bottom: 16px;
    opacity: 1;
    transition: bottom linear 0.2s, opacity linear 0.2s;
}

 /* Loading */
 .loading {
    position: fixed;
    display: flex;
    z-index: 1000;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading.hidden {
    opacity: 0;
    visibility: hidden;
    animation: fadeOut 0.5s linear;
}

.loading img {
    width: 50px;
    margin: auto;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
